@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500,700,700i);

body {    
  line-height: 1.5; /*make the line height one and a half times more than the font size.*/
  font-family: 'Fira Sans', sans-serif;
  color: #333;
}
