@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500,700,700i);

body, h1 {    
  font-family: 'Fira Sans', sans-serif;
  color: #333;
}


.highcharts-pie-series .highcharts-point {
	stroke: #EDE;
	stroke-width: 1px;
}
.highcharts-pie-series .highcharts-data-label-connector {
	stroke: silver;
	stroke-dasharray: 2, 2;
	stroke-width: 2px;
}

.highcharts-title, .highcharts-subtitle, .highcharts-legend {

	font-family: 'Fira Sans', sans-serif;
}


.fullscreen{
  width: 100%;
  min-height: 500px;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

   /* Styles for Desktops */
  width: 100%;
  min-height: 650px;
 }